.attachment {
  /* width: 550px; */
  /* height: 380px; */
  background: white;
}

.attachment h4 {
  background: #f40053;
  color: white;
  /* padding: 10px 20px; */
}

.disableForm {
  transition: all 2s;
  background: #8c8c8c !important
}

.attachment form {
  /* width: 460px; */
  /* height: 300px; */
  line-break: 30px;
  padding: 5px;
}

.attachment form .nextbtn {
  /* width: 460px; */
}

.attachment .holderTab {
  margin-top: 40px;
}

.attachment button {
  margin-bottom: 5px;
}

.attachControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
}

.pTagHolder {
  display: inline-block;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
  margin-top: -10px;
  /* width: 600px; */
}

.pTagHolder input {
  border: 1px solid #dbdbdb;
  height: auto;
  padding: 8px 8px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #757575;
}

.pTagHolder P:hover {
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.addText {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-top: 30px;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 470px; */
  text-align: center;
}

.all span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;
  cursor: pointer;
}

.all .cancel {
  color: #f40053;
  font-size: 30px;
}

.all .moveDown {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 20px;
}

.all .moveUp {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 20px;
}

.steps-shelfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.moveUpHidden {
  visibility: hidden;
}