.mr-1 { margin-right: 1rem }
.mr-2 { margin-right: 2rem }
.mr-3 { margin-right: 3rem }
.mr-4 { margin-right: 4rem }
.mr-5 { margin-right: 5rem }

#authModal {
  display: none;
}

.resume-cv-edit input{
  border: none !important;
  outline: none !important;
  padding-left: 0 !important;
  pointer-events: none !important;
}

.resume-cv-edit textarea {
  border: none !important;
  outline: none !important;
  padding-left: 0 !important;
  pointer-events: none !important;
}

.resume-cv-edit .CV-INFO .texthub {
  border: 1px solid #d6d6d69f;
}
